@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Podcast player  */

#mediaPlayer {
  width: 100%;
  border-radius: 0;
  background-color: #eee;
}

.podcastPlayer {
  background-color: #eee;
  display: block;
  width: 100%;
  margin: auto;
  height: 7%;
  overflow: hidden;
  z-index: 2;
  position: fixed;
  bottom: 0;
}

.podcastPlayer>div {
  width: 50%;
  margin: auto;
}

.mediaControl {
  width: 100%;
}

.mediaControl>div {
  width: 67px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 5px;
}

.mediaControl>div div {
  cursor: pointer;
  display: inline-block;
}

.mediaControl p {
  margin-bottom: 5px;
  text-align: center;
}

.progressBar {
  width: 100%;
  height: 3px;
  background-color: #999;
}

.progressBar div {
  background-color: #000;
  height: 100%;
}

/* End Podcast player */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

/* SideMenu  */

.podcastTopBar {
  position: fixed;
  top: 0;
  width: 100%;
}

.podcastStatusBar {
  background-color: #222;
}

.podcastStatusBar div {
  display: flex;
  margin: auto;
  width: 50%;
}

.podcastStatusBar div img {
  width: 35px;
  height: 35px;
}

.podcastStatusBar div p {
  font-size: 18px;
  color: #eee;
  padding: 8px 8px 8px 10px;
}

.podcastNavigation {
  background-color: #fff;
}

.podcastNavigation div {
  margin: auto;
  width: 50%;
  padding: 8px;
}

.podcastNavigation ul {
  list-style: none;
}

.podcastNavigation ul li {
  display: inline-block;
}

.podcastNavigation ul li a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  padding: 10px 8px 10px 8px;
}

.podcastNavigation ul li a:hover {
  color: #337ab7;
}

/* End SideMenu */

/* Podcast */

.podcastPage {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

.podcastPage>div {
  width: 100%;
}

.podcastOption {
  display: flex;
}

.podcastOption p {
  font-size: 12px;
  padding: 0px 0px 5px 4px;
  color: #777;
}

.podcastOption select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #777;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 7px;
  margin-right: 8px;
}

.podcastContainer {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-flow: wrap;
}

.podcastContainer a {
  text-decoration: none;
}

.podcastAsset {
  padding: 10px;
  padding-left: 0px;
}

.podcastAsset:hover p {
  color: #337ab7;
}

.podcastAsset p img {
  width: 105px;
  border: 1px solid white;
  border-radius: 7px;
}

.podcastAsset p {
  width: 105px;
}

.podcastAsset:last-child {
  color: #888;
  font-size: 13px;
  text-decoration: none;
}

.podcastAsset p:hover {
  color: #337ab7;
}

/* End Podcast */

/* SinglPod */

#authorInfoMobile {
  display: none;
}

#episodeNo {
  color: #777;
  padding: 10px;
  font-size: 12px;
}

#lastUpdated {
  color: #777;
  margin-bottom: 10px;
  font-size: 12px;
}

#more {
  color: #337ab7;
  font-size: 12px;
  cursor: pointer;
}

#author {
  color: #337ab7;
}

.singlePodcast {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.podcastPreview {
  margin-bottom: 10px;
  font-size: 15px;
  color: #888;
}

.mobileflex {
  display: flex;
}

.infoContainer {
  width: 300px;
}

.infoContainer div img {
  width: 300px;
  border: 1px solid #fff;
  border-radius: 7px;
}

.infoContainer p {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 13px;
}

.podcastInfoContainer {
  margin-left: 30px;
}

.authorInfo {
  display: block;
  margin-bottom: 70px;
}

.authorInfo a {
  text-decoration: none;
}

.podCategories {
  margin-top: 10px;
  font-size: 12px;
  color: #777;
}

.episodeContainer {
  margin-top: 20px;
}

.episodeEach {
  padding: 15px;
}

.episodeEach p {
  font-weight: 600;
  font-size: 17px;
}

.episodeEach:hover p {
  color: #337ab7;
  cursor: pointer;
}

.episodeEach div {
  color: #777;
  font-size: 12px;
}

.playInfo {
  display: flex;
  margin-top: 5px;
}

.playInfo p {
  background-color: #eee;
  color: #337ab7;
  font-size: 13px;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  border-radius: 12px;
}

.playInfo p:hover {
  color: #eee;
  background-color: #337ab7;
}

.episodeDesc {
  display: block;
  margin-top: 10px;
}

.playInfo .info:hover .episodeDesc {
  display: block;
}

/* End SignlePod */

@media only screen and (max-width: 1024px) {
  /* Podcast player  */
  #mediaPlayer {
    width: 100%;
    border-radius: 0;
    background-color: #eee;
  }
  .podcastPlayer {
    background-color: #eee;
    display: blockt;
    width: 100%;
    margin: auto;
    height: 10%;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    bottom: 0;
  }
  .podcastPlayer>div {
    width: 100%;
    margin: auto;
  }
  .mediaControl {
    margin-top: 5px;
    margin-left: 5px;
  }
  .mediaControl>div {
    display: flex;
  }
  .mediaControl>div div {
    cursor: pointer;
    margin-right: 5px;
  }
  .mediaControl p {
    white-space: nowrap;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }
  .progressBar {
    width: 100%;
    height: 3px;
    background-color: #999;
  }
  .progressBar div {
    background-color: #000;
    height: 100%;
  }
  /* End Podcast player */
  /* SideMenu  */
  .podcastTopBar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .podcastStatusBar {
    background-color: #222;
  }
  .podcastStatusBar div {
    display: flex;
    margin: auto;
    width: 90%;
  }
  .podcastNavigation div {
    margin: auto;
    width: 90%;
    padding: 8px;
  }
  /* End SideMenu */
  /* Podcast */
  .podcastPage {
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
  /* End Podcast */
}

@media only screen and (max-width: 1200px) {
  /* SinglPod */
  .singlePodcast {
    width: 95%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
  }
  /* End SignlePod */
}

@media only screen and (max-width: 500px) {
  /* SideMenu  */
  .podcastTopBar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .podcastStatusBar div {
    display: flex;
    margin: auto;
    width: 95%;
  }
  .podcastNavigation div {
    margin: auto;
    width: 99%;
    padding: 8px;
  }
  /* End SideMenu */
  /* Podcast */
  .podcastPage {
    width: 95%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 100px;
  }
  .podcastPage>div {
    margin: auto;
  }
  .podcastOption {
    display: block;
  }
  .podcastOption select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #777;
    width: 100%;
    margin-bottom: 7px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 7px;
  }
  .podcastContainer {
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: wrap;
  }
  .podcastAsset {
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
  }
  .podcastAsset p img {
    width: 90px;
  }
  .podcastAsset p {
    width: 90px;
  }
  /* End Podcast */
  /* SinglPod */
  #authorInfoMobile {
    display: block;
    padding: 10px;
    padding-top: 2px;
  }
  #episodeNo {
    color: #777;
    padding: 5px;
    font-size: 12px;
  }
  #lastUpdated {
    display: none;
    color: #777;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 90%;
    margin: auto;
    font-size: 12px;
  }
  #more {
    color: #337ab7;
    font-size: 12px;
    cursor: pointer;
  }
  #author {
    color: #337ab7;
  }
  .singlePodcast {
    width: 98%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
  }
  .infoContainer {
    margin: auto;
    width: 90%;
  }
  .infoContainer div img {
    width: 100px;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 7px;
  }
  .infoContainer p {
    margin-top: 5px;
    font-size: 13px;
  }
  .podcastInfoContainer {
    margin: auto;
  }
  .authorInfo {
    display: none;
    width: 90%;
    margin: auto;
  }
  .authorInfo h2 {
    font-size: 17px;
    margin-left: 2px;
  }
  .authorInfo a {
    text-decoration: none;
    font-size: 15px;
  }
  .podCategories {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    color: #777;
  }
  .podcastInfoContainer hr {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .episodeContainer {
    margin-top: 1px;
    margin-left: 7px;
    margin-bottom: 7px;
  }
  .episodeEach {
    padding: 15px;
  }
  .episodeDesc {
    display: none;
    margin-top: 10px;
  }
  /* End SignlePod */
  .mediaControl p {
    margin-bottom: 5px;
  }
}